#set($layout="layout/blank.vm")

<div class="col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading clearfix">新增字典表</div>
        <div class="panel-body">
            <form class="form-horizontal" name="addForm" >
                <div>
                    <input id="tableId" type="hidden" name="tableId" value="$!{dictTable.id}">
                </div>
                <div class="form-group">
                    <label for="tableType" class="col-sm-2 control-label">字典表类型</label>
                    <div class="col-sm-4">
                        <select name="tableType" id="tableType" class="col-sm-12" disabled>
                            <option value="0"></option>
                            <option value="1" #if($!{dictTable.tableType}==1)selected="selected" #end>通用字典表</option>
                            <option value="2" #if($!{dictTable.tableType}==2)selected="selected" #end>列表字典表</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tableName" class="col-sm-2 control-label">字典表</label>
                    <div class="col-sm-4">
                        <input id="tableName" type="text" class="form-control" placeholder="英文\数字\下划线\中划线"
                               value="$!{dictTable.tableName}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tableNameCn" class="col-sm-2 control-label">字典表名称</label>
                    <div class="col-sm-4">
                        <input id="tableNameCn" type="text" class="form-control" placeholder="中文名称"
                               value="$!{dictTable.tableNameCn}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="tableDesc" class="col-sm-2 control-label">字典表描述</label>
                    <div class="col-sm-10">
                        <input id="tableDesc" type="text" class="form-control" value="$!{dictTable.tableDesc}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" type="button" id="submitButton">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-warning" type="button" id="cancleButton">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            返回
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>

#include('inc/script.vm')

<script>
    $("#submitButton").click(function () {
        var tableId = $("#tableId").val().trim();
        var tableName = $("#tableName").val().trim();
        var tableNameCn = $("#tableNameCn").val().trim();
        var tableDesc = $("#tableDesc").val().trim();
        var tableType = $("#tableType").val();
        var param = {"id": tableId, "tableName": tableName, "tableDesc": tableDesc, "tableNameCn": tableNameCn, "tableType": tableType}
        if (tableName == '' || tableNameCn == '' || tableDesc == '' || tableType == 0) {
            alert('输入不能为空');
            return;
        }
        if (!isLetter(tableName)) {
            alert('字典表输入格式错误');
            return;
        }
        $.ajax("/data/dict/updateTable.do", {
            type: "post",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.status == 0) {
                    alert('操作成功');
                    window.location.reload();
                } else {
                    alert('操作失败: ' + data.message);
                }
            },
            error: function (data) {
                alert('操作失败');
            }
        })
    });

</script>