#set($layout="layout/blank.vm")

<div class="col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading clearfix">新增事件类型</div>
        <div class="panel-body">
            <form class="form-horizontal" name="addForm">
                <div class="form-group">
                    <label for="code" class="col-sm-2 control-label">事件编码</label>
                    <div class="col-sm-4">
                        <input id="code" type="text" class="form-control" placeholder="英文\数字\下划线\中划线">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">事件名称</label>
                    <div class="col-sm-4">
                        <input id="name" type="text" class="form-control" placeholder="中文名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-4">
                        <select name="type" id="type" class="col-sm-12">
                            <option value="0"></option>
                            <option value="1">同步事件</option>
                            <option value="2">异步事件</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-4">
                        <input id="description" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="module" class="col-sm-2 control-label">模块</label>
                    <div class="col-sm-4">
                        <input id="module" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">状态</label>
                    <div class="col-sm-4">
                        <select name="status" id="status" class="col-sm-12">
                            <option value="1">上线</option>
                            <option value="2">下线</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" type="button" id="submitButton">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp;&nbsp;
##                        <button class="btn btn-warning" type="button" id="cancleButton">
##                            <i class="ace-icon fa fa-undo bigger-110"></i>
##                            返回
##                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>

#include('inc/script.vm')

<script>
    $("#submitButton").click(function () {
        var code = $("#code").val().trim();
        var name = $("#name").val().trim();
        var description = $("#description").val().trim();
        var module = $("#module").val().trim();
        var type = $("#type").val();
        var status = $("#status").val();
        var param = {"code": code, "name": name, "description": description, "module": module, "type": type, "status": status}
        if (code == '' || name == '' || description == '' || module == '' || type == 0 || status == 0) {
            alert('输入不能为空');
            return;
        }
        if (!isLetter(code)) {
            alert('事件编码输入格式错误');
            return;
        }
        $.ajax("/event/type/add.do", {
            type: "post",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.status == 0) {
                    alert('操作成功');
                } else {
                    alert('操作失败: ' + data.message);
                }
            },
            error: function (data) {
                alert('操作失败');
            }
        })
    });

</script>